@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  min-width: 0;
  scroll-padding-top: 1rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}

:root {
  --main-color: #e9df7f;
  --text-color: #64421f;
  --bg-color: #fff;
}

img {
  width: 100%;
}

body {
  min-height: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  margin: 0;
}

p {
  text-wrap: pretty;
}

header {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 35px;
}

.logo {
  font-size: 2rem;
  font-weight: 700;
  color: var(--main-color);
}

.navbar {
  display: flex;
  column-gap: 2rem;
}

.navbar a {
  color: var(--main-color);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
}

.navbar a:hover,
.navbar .active {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}

.home {
  margin: auto;
  width: 100%;
  min-height: 640px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/images/crosstrek9.webp) center left;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--bg-color);
}

.home-text {
  text-align: center;
}

.home-text h1 {
  font-size: 4.5rem;
}

.home-text p {
  font-size: 1.938rem;
  font-weight: 300;
  margin: 32px 0;
}

.btn {
  padding: 10px 22px;
  border-radius: 10px;
  background-image: linear-gradient(#e3d261, #caa728);
  color: #3a220e;
  font-size: 1.5rem;
  font-weight: 400;
}

.btn:hover {
  background-image: linear-gradient(#e9df7f, #dabd35);
}

.about {
  color: #fbf9eb;
  background-color: #3a220e;
}

.about .about-text {
  padding: 64px;
}
.about .about-text #car-title {
  font-size: 20px;
}

.about .about-text #model-name {
  font-size: 30px;
  padding-bottom: 14px;
  color: #e9df7f;
}

.row.general-info {
  margin-bottom: 32px;
}

p.general_info_label {
  font-size: 1.5rem;
  line-height: 1.29412rem;
  font-weight: 600;
}

p.general_info_label.general_info_label--pretext {
  padding-top: 0.47059rem;
  padding-bottom: 0;
}

.about .about-text .general_info_value {
  font-size: 2.11765rem;
  line-height: 1.29412rem;
  color: #e9df7f
}

.col-md-12.general-info-text {
  font-size: 1.75rem;
}
.col-md-12.general-info-text h3 {
  margin-bottom: 24px;
  color: #e9df7f;
}

.row .col-md-6  {
  padding: 0;
}

.car-features {
  color: #fbf9eb;
}

#feature-one {
  background-color: #64421f;
}
#feature-two {
  background-color: #3a220e;
}
#feature-three {
  background-color: #64421f;
}

.car-features .features-text {
  padding: 64px;
}

.col-md-6.features-text {
  font-size: 1.75rem;
}

.col-md-6.features-text h3 {
  margin-bottom: 24px;
  color: #e9df7f;
}

footer {
  padding: 48px;
  background-color: #18181b;
  color: #fbf9eb;
  font-size: 2rem;
}

.footer-links {
  line-height: 4.5rem;
}

.footer-links a {
  color: #e9df7f;
}